<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>学生选课结果（中签情况）</title>
    <link rel="stylesheet" href="/static/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">
            <a href="/highadmin/welcomePage"><span style="color: #f0ffff; ">管理员管理页面</span></a>
        </div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <span th:text="${name}">
                    </span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="/outUser">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">课程相关</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/highadmin/finalResultPage">学生中签情况</a></dd>
                        <dd><a href="/highadmin/showGradesPage">学生所修过的课程成绩</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="/highadmin/stuManagePage">学生管理</a></li>
                <li class="layui-nav-item"><a href="/highadmin/teacherManagePage">教师管理</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body" style="padding: 20px;background-color: #F2F2F2;">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">
                        <h2>
                            · 学生选课结果（中签情况）
                        </h2>
                    </div>
                    <div class="layui-card-body">
                        <table class="layui-table" lay-data="{url:'/result/finalAllResult', page:false, id:'idTest'}" lay-filter="demo">
                            <thead>
                            <tr>
                                <th lay-data="{type:'checkbox', fixed: 'left'}"></th>
                                <th lay-data="{field:'rcno', width:150, sort: true, fixed: true}">课程编码</th>
                                <th lay-data="{field:'rsno', width:150}">学生学号</th>
                                <th lay-data="{field:'tno', width:150}">教师编码</th>
                                <th lay-data="{fixed: 'right', width:178, align:'center', toolbar: '#barDemo'}"></th>
                            </tr>
                            </thead>
                        </table>
                        <a href="/highadmin/echartsPage" class="layui-btn layui-btn-radius layui-btn-primary">查看整个学校选课统计图表</a>

                        <script type="text/html" id="barDemo">
                            <a class="layui-btn layui-btn-xs" lay-event="del">删除</a>
                        </script>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</div>
<script src="/static/layui.js"></script>
<script src="/static/layui.all.js"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use(['table','form'], function(){
        var table = layui.table;
        var form = layui.form;
        var userTable = table.render();

        //监听表格复选框选择
        table.on('checkbox(demo)', function(obj){
            console.log(obj)
        });

        //监听工具条
        table.on('tool(demo)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    $.ajax({
                        url: '/result/deleteFinalResult',
                        type: 'POST',
                        contentType: "application/json",
                        dataType: "json",
                        data: JSON.stringify(data),
                        success: function (result) {
                            if (result.code == 200) {
                                setTimeout(function () {
                                    userTable.reload();
                                }, 300);
                            }
                        }
                    });
                    obj.del();
                    layer.close(index);
                });
            }
        });

        var $ = layui.$;

        $('.layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });
</script>

</body>
