<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>所教课程相关信息</title>
    <link rel="stylesheet" href="/static/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">
            <a href="/teacher/welcomePage"><span style="color: #f0ffff; ">教师页面</span></a>
        </div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <span th:text="${name}">
                    </span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="/outUser">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">课程相关</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/teacher/updateCoursePage">修改课程信息</a></dd>
                        <dd><a href="/teacher/finalResultPage">中签学生名单</a></dd>
                        <dd><a href="/teacher/stuGradePage">学生课程成绩</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">留言管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/teacher/recievedMsgPage">查看收到的留言</a></dd>
                        <dd><a href="/teacher/sendMsgPage">给学生发送留言</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body" style="padding: 20px;background-color: #F2F2F2;">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">
                        <h2>
                            · 所教课程相关信息
                        </h2>
                    </div>
                    <div class="layui-card-body">
                        <!-- <div class="demoTable">
                             根据合班标志搜索：
                             <div class="layui-inline">
                                 <input class="layui-input" name="cclass" id="re" autocomplete="off">
                             </div>
                             <button class="layui-btn" id="permissionSubmit" data-type="reload">搜索</button>

                         </div>-->
                        <!--<table class="layui-table" lay-data="{url:'/admin/sureCourseDetailList', page:false, id:'idTest'}" lay-filter="demo">-->
                        <table class="layui-table" lay-data="{url:'/teacher/allTeacherCourses', page:false, id:'idTest'}" lay-filter="demo">
                            <thead>
                            <tr>
                                <th lay-data="{type:'checkbox', fixed: 'left'}"></th>
                                <th lay-data="{field:'cno', width:150, sort: true, fixed: true}">课程编码</th>
                                <th lay-data="{field:'cname', width:150}">课程名称</th>
                                <th lay-data="{field:'cintro', width:150}">课程简介</th>
                                <th lay-data="{field:'cpno', width:150}">先修课名称</th>
                                <th lay-data="{fixed: 'right', width:200, align:'center', toolbar: '#barDemo'}"></th>
                            </tr>
                            </thead>
                        </table>

                        <script type="text/html" id="barDemo">
                            <a class="layui-btn layui-btn-xs" lay-event="show">查看课件</a>
                            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑课程信息</a>
                        </script>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-row" id="showFile" style="display:none;">
        <div class="layui-col-md10">
            <div class="demoTable">
                <form action="/resource/uploadFile" method="post" enctype="multipart/form-data">
                    <p><input type="text" name="cno" placeholder="请输入当前课程编码" /></p>
                    <p><input type="file" name="fileName"/></p>
                    <p><input type="submit" value="上传文件"/></p>
                </form>
               <!-- <button class="layui-btn" id="uploadFile">上传课件</button>-->
            </div>
            <table class="layui-table" lay-data="{url:'/teacher/allCoursesFile', page:false, id:'idDemo'}" lay-filter="demok">
                <thead>
                <tr>
                    <th lay-data="{field:'cno', width:150, sort: true, fixed: true}">课程编码</th>
                    <th lay-data="{field:'tno', width:150, sort: true, fixed: true, hide:true}">教师工号</th>
                    <th lay-data="{field:'name', width:150, sort: true, fixed: true}">文件名称</th>
                    <th lay-data="{field:'fileurl', width:300, templet: '#titleTpl'}"></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <!--编辑表单-->
    <script type="text/html" id="titleTpl">
        <a href="{{d.fileurl}}" class="layui-table-link">点击下载</a>
    </script>
    <div class="layui-row" id="editUser" style="display:none;">
        <div class="layui-col-md10">
            <form class="layui-form layui-from-pane" id="saveUser" style="margin-top:20px">
                <div class="layui-form-item">
                    <label class="layui-form-label">课程编码</label>
                    <div class="layui-input-block">
                        <input type="text" name="cno" id="cno" required lay-verify="required" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">课程名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="cname" id="cname" required lay-verify="required" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">课程简介</label>
                    <div class="layui-input-block">
                        <input type="text" name="cintro" id="cintro" required lay-verify="required" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">先修课编码</label>
                    <div class="layui-input-block">
                        <input type="text" name="cpno" id="cpno" lay-verify="" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item" style="margin-top:40px" id="check">
                    <div class="layui-input-block">
                        <button class="layui-btn  layui-btn-submit " lay-submit="" lay-filter="saveUser">保存</button>
                        <!--<button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

</div>
<script src="/static/layui.js"></script>
<script src="/static/layui.all.js"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use(['table','form'], function(){
        var table = layui.table;
        var form = layui.form;
        var userTable = table.render();

        //监听工具条
        table.on('tool(demo)', function(obj){
            //var data = obj.data;
            if(obj.event === 'show'){
                //window.parent.location.reload();
                layer.open({
                    type: 1,
                    offset: '100px',
                    title: "查看课件",
                    area: ['800px', '400px'],
                    content: $("#showFile")
                });
            } else if(obj.event === 'edit'){
                var data = obj.data;
                $("#cno").val(data.cno);
                $("#cname").val(data.cname);
                $("#cintro").val(data.cintro);
                $("#cpno").val(data.cpno);
                layer.open({
                    type: 1,
                    offset: '100px',
                    title: "修改课堂详细信息",
                    area: ['500px', '400px'],
                    content: $("#editUser")
                });

                //var str = JSON.stringify(data);
                //layer.alert('编辑行：<br>'+ JSON.stringify(data))
            }
        });

        table.on('checkbox(demo)', function(obj){
            var data = obj.data;
            $.ajax({
                url: '/teacher/getData',
                type: 'POST',
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(data)
            });
            window.parent.location.reload();
        });

        /*table.on('row(demo)', function(obj){
            $.ajax({
                url: '/teacher/getData',
                type: 'POST',
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(obj.data)
            });
            //setTimeout(function () {
            window.parent.location.reload();
             //   layer.closeAll();//关闭所有的弹出层
            //}, 1000);
            //layer.alert(obj.data);
            //obj.del(); //删除当前行
            //obj.update(fields) //修改当前行数据
        });*/

        form.on('submit(saveUser)', function(data,str){
            //layer.alert(JSON.stringify(data.field));
            $.ajax({
                url: '/teacher/updateCourses',
                type: 'POST',
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(data.field),
                success: function (result) {
                    if (result.code == 200) {
                        layer.msg("修改成功！", {icon: 6});
                        setTimeout(function () {
                            window.parent.location.reload();
                            layer.closeAll();//关闭所有的弹出层
                        }, 300);
                    } else {
                        layer.msg("操作失败！", {icon: 5});
                    }
                }
            });

            return false;

        });


        var $ = layui.$, active = {
            reload: function(){
                var re = $('#re');

                if(re.val()!=""){
                    // layer.alert(re.val());
                    table.reload('idTest', {
                        url: '/admin/listdetailbyno'
                        ,where: {
                            cclass: re.val()
                        }
                    });
                }else{
                    table.reload('idTest', {
                        url: '/teacher/allTeacherCourses'
                        ,where: {

                        }
                    });
                }

            }

        };

        $('#permissionSubmit').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        $('.layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });
</script>

</body>
