<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keke.mapper.AdminMapper">

    <select id="adminLogin" resultType="com.keke.domain.Admin" parameterType="String">
        select * from admin where ano = #{ano} and apassword = #{apassword}
    </select>

    <select id="highadminLogin" resultType="com.keke.domain.Highadmin" parameterType="String">
        select * from highadmin where ano = #{ano} and apassword = #{apassword}
    </select>
</mapper>