<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keke.mapper.MessageMapper">

    <select id="showMessageFromTeacher" resultType="com.keke.domain.MessageA" parameterType="String">
        select sender,reciever,content,rn,DATE_FORMAT(send_time,'%Y-%m-%d %H:%i:%s') as send_time from message where reciever = #{reciever}
    </select>

    <insert id="sendMessage" parameterType="com.keke.domain.Message">
        insert into message(sender,reciever,content,rn)values(#{sender},#{reciever},#{content},#{rn})
    </insert>

</mapper>
